// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$highlight-color: blue;
$border-color: #DEE1E5;

html{
  font-family: sans-serif;
  height: 100%;
  color: #333;
  -webkit-font-smoothing: antialiased;
}
body{
  height: 100%
}
.container{
  height: 100%
}

.hidden {
  display: none;
}

h1{
  margin: 0;
}

.header{
  height: 60px;
  background-color: #1f6bb5;
  color: #fff;
  h1{
    margin: 0;
    padding: 11px 15px;
    display: inline-block;
  }
  .entry{
    display: inline-block;
    float: right;
    margin: 10px 40px 0 0;
    padding: 5px 25px;
    font-size: 26px;
    color: #ccc;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  p{
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #555;
  }
}
#map{
  width: calc(100% - 400px);
  height: calc(100% - 60px);
  float: left;
}

.aside{
  float: left;
  width: 400px;
}

.view {
  padding: 10px 20px;
  h2{
    text-align: center;
    margin: 0;
    padding: 5px 0;
    font-weight: 300;
  }
  h3{
    font-weight: 300;
  }
}

.form{
  input{
    border: 0;
    border-bottom: 1px solid #cecece;
    outline: 0;
    width: 100%;
    margin: 2px 0 5px;

  }
  input:focus{
    border-bottom: 1px solid $highlight-color;
  }
  textarea{
    width: 100%;
    outline: 0;
    border-color: #ccc;
    resize: vertical;
  }
  textarea:focus{
    border: 1px solid $highlight-color;
  }
  h3{
    margin: 7px 0 5px;
  }
  .image-form{
    background-color: #F5F5F5;
    padding: 0 10px;
    color: #444;
  }
  input[type="file"]{
    border: 1px solid #DEE1E5;
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 5px 0px;
    border-bottom: 3px solid #DEE1E5;
    padding: 5px 2px;
  }
  .send{
    background-color: #105eaa;
    padding: 10px;
    color: white;
    font-size: 25px;
    border: 1px solid #09478a;
    border-bottom: 4px solid #09478a;
    margin: 3px;
  }
}
.manual h3{
  text-align: center;
}

.marker {
    max-width: 300px;
    img {
        width: 100%;
    }
}

.social-container{
  padding: 10px;
}
.social-login {
  width: 100%;
}

.alert{
  padding: 10px;
  background-color: rgb(255, 107, 5);
  color: white;
  font-size: 22px;
  text-align: center;
}
.alert-success{
  background-color: #17b52b;
}
#add-candidate{
  cursor: pointer;
  border: 1px solid #09478a;
  border-bottom: 4px solid #09478a;
  padding: 10px;
  border-radius: 3px;
  color: white;
  background: #105eaa;
  font-size: 14px;
  font-weight: normal;
}

#footer{
  text-align: center;
//  border-top: 1px solid $border-color;
  clear: both;
}
