@media screen and (max-width: 800px) {
  .hidden-mo{
    display: none;
  }
  #map{
    width: 100%;
    float: none;
  }

  .aside{
    width: 100%;
  }

  .header{
//    display: none;
  }

  .toggle {
    width: 4.3em;
    height: 4.3em;
    position: fixed;
    background-color: #09478a;
    z-index: 99;
    border-radius: 100%;
    bottom: 0;
    right: 0;
    margin: 0 10px 20px;
    img{
      border: 0;
      width: 65%;
      padding: 12px 11px;
    }
  }

  .header .entry {
    margin: 10px 10px 0 0;
    padding: 8px 10px;
    font-size: 20px;
  }

}

@media screen and (min-width: 800px) {
  .toggle {
    display: none;
  }
}
