<div class="header">
  <h1> Pokestop Suggestion </h1>
  <div class="entry">
  </div>
</div>

<div id="map"></div>
<div class="aside">
  <div class="manual">
  <h3> What is this? </h2>
  <p>Foo</p>

  <h3> Getting started </h2>
  <p>Foo</p>

  <h3> Guidelines </h2>
  <p>Foo</p>
  </div>
</div>

<div id="footer">
<p> Hi, I'm a footer </p>
</div>
